<ion-header>
  <ion-toolbar>
    <ion-title>Edit User</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="userForm" padding-right>
      <ion-item>
        <ion-icon name="md-contact" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-toggle slot="end" (click)="enableEmail()"></ion-toggle>
        <ion-input
          formControlName="email"
          inputmode="email"
          type="email"
          [disabled]="disableEmail"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="md-key" slot="start"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Fiscal Code</ion-label>
        <ion-input
          formControlName="fiscalCode"
          [disabled]="disableFiscal"
        ></ion-input>
        <ion-toggle slot="end" (click)="enableFiscal()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" [disabled]="disableName"></ion-input>
        <ion-toggle slot="end" (click)="enableName()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Surname</ion-label>
        <ion-input
          formControlName="surname"
          [disabled]="disableSurname"
        ></ion-input>
        <ion-toggle slot="end" (click)="enableSurname()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="md-calendar" slot="start"></ion-icon>
        <ion-label position="floating">Birthday</ion-label>
        <ion-datetime
          displayFormat="DD MM YY"
          formControlName="dateOfBirth"
          [disabled]="disableBirthday"
        ></ion-datetime>
        <ion-toggle slot="end" (click)="enableBirthday()"></ion-toggle>
      </ion-item>
      <!-- <ion-item>
        <ion-icon name="walk" slot="start"></ion-icon>
        <ion-label position="floating">Image</ion-label>
        <ion-input formControlName="imagePath" required></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-icon name="md-contacts" slot="start"></ion-icon>
        <ion-label position="floating">Type</ion-label>
        <ion-select formControlName="type" [disabled]="disableType">
          <ion-select-option value="Admin">Admin</ion-select-option>
          <ion-select-option value="Student">Student</ion-select-option>
          <ion-select-option value="Teacher"
            >Teacher</ion-select-option
          ></ion-select
        >
        <ion-toggle slot="end" (click)="enableType()"></ion-toggle>
      </ion-item>

      <ion-button
        type="submit"
        color="primary"
        expand="block"
        [disabled]="!userForm.valid"
        (click)="modify()"
        >Edit</ion-button
      >
    </form>
  </ion-card>
</ion-content>
