<app-menu-button [title]="'Courses'"></app-menu-button>

<ion-content>
  <app-list [items]="courses" [isInfiniteScrollable]="true">
    <ion-card class="listcard" *ngFor="let course of courses" [routerLink]="course?.id">
      <ion-item lines="none">
        <ion-avatar class="avatar">{{course?.name}}</ion-avatar>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="position"> Status: {{course.status}} </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="position">Date: {{course.year}} </ion-label>
      </ion-item>
    </ion-card>
  </app-list>
</ion-content>