<app-menu-button
  [title]="'Course ' + course?.name"
  [isToBack]="true"
></app-menu-button>
<ion-content>
  <app-list>
    <ion-card class="listcard">
      <ion-item lines="none">
        <ion-avatar class="avatar">{{course?.name}}</ion-avatar>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="position"> Status: {{course?.status}} </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="position">Date: {{course?.year}} </ion-label>
      </ion-item>
    </ion-card>
    <ion-toolbar>
      <ion-segment
        (ionChange)="segmentChanged()"
        [(ngModel)]="segment"
        color="danger"
      >
        <ion-segment-button value="0">
          <ion-label>{{segments[0]}}</ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>{{segments[1]}}</ion-label>
          <ion-icon name="laptop"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>{{segments[2]}}</ion-label>
          <ion-icon name="school"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div *ngIf="segment == 0">
      <app-list
        class="full-width"
        [items]="subjects"
        [isInfiniteScrollable]="true"
      >
        <ion-item-sliding *ngFor="let item of segmentShowed">
          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="updateSubject(item.id)">
              <ion-icon slot="end" name="arrow-up"></ion-icon>
              <p>Update</p></ion-item-option
            >
            <ion-item-option color="primary" (click)="navigate(item.id)">
              <ion-icon slot="end" name="arrow-down"></ion-icon>
              <p>Show</p></ion-item-option
            >
          </ion-item-options>
          <ion-item>
            <ion-label>
              {{ item?.name }} {{ item?.hours }}
            </ion-label>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="deleteSubject(item.id)">
              <ion-icon slot="start" name="trash"></ion-icon
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
      </app-list>
    </div>
    <div *ngIf="segment == 1">
      <app-list
        class="full-width"
        [items]="subjects"
        [isInfiniteScrollable]="true"
      >
        <ion-item *ngFor="let item of segmentShowed">
          <ion-label> {{ item?.name }} {{ item?.surname }} </ion-label>
        </ion-item>
      </app-list>
    </div>
    <div *ngIf="segment == 2">
      <app-list
        class="full-width "
        [items]="subjects"
        [isInfiniteScrollable]="true"
      >
        <ion-item *ngFor="let item of segmentShowed">
          <ion-label> {{ item?.name }} {{ item?.surname }} </ion-label>
        </ion-item>
      </app-list>
    </div>
  </app-list>
</ion-content>
<app-fab-button [buttons]="buttons"></app-fab-button>
