<app-menu-button [title]="'New Subject'" [isToBack]="true"></app-menu-button>

<ion-content padding>
  <ion-card>
    <form [formGroup]="subjectForm" padding-right>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Hours</ion-label>
        <ion-input formControlName="hours" required></ion-input>
      </ion-item>
      <ion-button
        type="submit"
        color="primary"
        expand="block"
        [disabled]="!subjectForm.valid"
        (click)="closeModal()"
      >
        Create Subject</ion-button
      >
    </form>
  </ion-card>
</ion-content>
