<app-menu-button [title]="'Users List'" [isToBack]="true"></app-menu-button>

<ion-content>
  <ion-toolbar>
    <ion-segment
      (ionChange)="segmentChanged()"
      [(ngModel)]="segment"
      color="danger"
    >
      <ion-segment-button value="0">
        <ion-label>{{segments[0]}}</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>{{segments[1]}}</ion-label>
        <ion-icon name="laptop"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>{{segments[2]}}</ion-label>
        <ion-icon name="school"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
    <ion-slide>
      <app-list
        [items]="users"
        [isInfiniteScrollable]="true"
        class="full-width "
      >
        <ion-item-sliding
          *ngFor="let user of users"
          (dblclick)="navigate(user?.id)"
        >
          <ion-item-options side="start">
            <ion-item-option color="primary" (click)="updateUser(user.id)"
              >Update</ion-item-option
            >
          </ion-item-options>
          <ion-item>
            <ion-label>
              <ion-badge color="{{user?.status ? 'success' : 'danger'}}">
                {{' '}}</ion-badge
              >
              {{ user.name }} {{ user.surname }}
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteUser(user.id)"
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
      </app-list>
    </ion-slide>
  </ion-slides>
</ion-content>
<app-fab-button [buttons]="buttons"></app-fab-button>
