ion-content {
  --background: url(/assets/background-profile.jpg) 70% 50% / 830px;
  height: 100%;
}

ion-list {
  --ion-background-color: white;
}

ion-item {
  --ion-background-color: #fff;
}

.user-image {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  position: absolute;
  top: 80px;
  border: 3px solid #ffffff;
  z-index: 999;
  left: 30.5%;
  background: url(/assets/image-profile.jpeg);
  background-size: cover;
}

.container {
  height: 100%;
  background: white;
  margin-top: 138px;
  border-radius: 20px 20px 0 0;
}

.logo {
  width: 300px;
  height: 270px;
  padding: 10px;
  margin-top: -40px;
  margin-bottom: -60px;
}

.text {
  font-size: 25px;
}

.card {
  width: 100%;
}

.listcard {
  border-radius: 15px;
}

ion-slides {
  justify-content: center;
}

.avatar {
  height: 80px;
  width: 80px;
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 10px auto;
  box-shadow: 0px 1px 1px 0 black;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
}
