<ion-header>
  <ion-toolbar>
    <ion-title>update-course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <form [formGroup]="courseForm" padding-right>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" [disabled]="disableName"></ion-input>
        <ion-toggle slot="end" (click)="enableName()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="md-create" slot="start"></ion-icon>
        <ion-label position="floating">Year</ion-label>
        <ion-datetime
          displayFormat="YYYY"
          placeholder="Select Date"
          formControlName="year"
          [disabled]="disableYear"
        ></ion-datetime>
        <ion-toggle slot="end" (click)="enableYear()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon
          name="md-create"
          slot="start"
          ng-mousehover="disableStatus = false"
        ></ion-icon>
        <ion-label position="floating">Status</ion-label>
        <ion-select formControlName="status" [disabled]="disableStatus">
          <ion-select-option value="in-progress">
            Still in progress
          </ion-select-option>
          <ion-select-option value="pending">Not started</ion-select-option>
          <ion-select-option value="complete">Ended</ion-select-option>
        </ion-select>
        <ion-toggle slot="end" (click)="enableStatus()"></ion-toggle>
      </ion-item>
      <ion-button
        type="submit"
        color="primary"
        expand="block"
        [disabled]="!courseForm.valid"
        (click)="closeModal()"
        >Update Course</ion-button
      >
    </form>
  </ion-card>
</ion-content>
