<app-menu-button [title]="'Dashboard'"></app-menu-button>

<ion-content>
    <ion-slides>
    <ion-slide>
      <ion-list class="first-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
      <ion-list class="second-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list class="first-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
      <ion-list class="second-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list class="first-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
      <ion-list class="second-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list class="first-card">
        <app-info-card [cards]="cards"></app-info-card>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>