<ion-menu contentId="main-content">
  <app-menu-button [title]="'Menu'"></app-menu-button>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
        <ng-template [ngIf]="show(page)">
          <ion-item *ngIf="!page.action" [routerDirection]="'root'" [routerLink]="[page.url]" (click)="logout(page)">
            <ion-icon slot="start" [name]="page.icon"></ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="page.action" href="/home" (click)="page.action()">
            <ion-icon slot="start" [name]="page.icon"></ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>