<ion-item color="transparent" lines="none">
  <ion-slides>
    <ion-slide>
      <ion-card>
        <div class="slide">
          <img
            src="../../../assets/slides-icon/logo-sj.png"
            class="image-size"
          />
          <h2>Welcome</h2>
          <p>
            The <b>Steve Jobs Academy app</b> is a practical preview of the SJA
            in action, and a demonstration of proper use.
          </p>
          <ion-item href="https://stevejobs.academy">
            <ion-icon slot="start" color="medium" name="laptop"></ion-icon>
            <ion-label>Steve Jobs Website</ion-label>
          </ion-item>
          <ion-item
            href="https://github.com/corradodiba/stevejobs-class-managing"
          >
            <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
            <ion-label>Github Repository</ion-label>
          </ion-item>
          <ion-item
            href="https://steve-jobs-academy.slack.com/?redir=%2Farchives%2FGQRS4582H"
          >
            <ion-icon slot="start" color="medium" name="logo-slack"></ion-icon>
            <ion-label>Slack Chanel</ion-label>
          </ion-item>
        </div>
        <ion-icon name="arrow-forward" color="medium" size="large"></ion-icon>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/slides-icon/team-sj.jpg" />
        <h2>What is Steve Jobs Academy?</h2>
        <p>
          <b>Steve Jobs Academy</b> has designed together with his teachers
          courses where you can learn immediately what you need in your work,
          also providing you with a MacBook 👨‍💻to study at best.
        </p>
        <ion-icon name="arrow-forward" color="medium" size="large"></ion-icon>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../../assets/slides-icon/rocket.png" class="image-size" />
        <h2>Ready to Play?</h2>
        <ion-button fill="clear" (click)="goHome()"
          >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-item>
